<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <h1> My Music App </h1>
    <% if logged_in? %>
      <p> Welcome, <%= current_user.email %>
      <img src=" <%= current_user.picture.html_safe %>" width = "5%"/>  
      <form action="<%= session_url %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" name="" value="Log Out">
      </form>
    <% end %>
    <hr>
  </header>

  <body style="background: #ace2bd">
    <%= yield %>
  </body>
</html>
